@charset "UTF-8";

*{
	margin: 0;
	padding:0;
}

.top_gnb_area{
	width: 100%;
	height: 50px;
	background-color: #f0f0f1;
    position:relative;
}
 
.top_gnb_area .list{
    position: absolute;
    top: 0px;
    right: 0;
    
}
 
.top_gnb_area .listtop{
    list-style: none;    
    float : left;
    padding: 13px 15px 0 10px;
    font-weight: 900;
    cursor: pointer;